.baza__text {
    font-size: 40px;
    font-weight: 600;
    font-family: Montserrat,sans-serif;
    line-height: 1.3;
    color: #18191b;
    font-feature-settings: "kern" 1,"kern";
    font-kerning: normal;
}